@import '../../styles/variables.scss';
$borderWidth: 1px;
$borderColor: rgba($color: #000000, $alpha: .1);

.homeWrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer"
}

.header {
  grid-area: header;
  border-bottom: $borderWidth $borderColor solid;
}

.main {
  grid-area: main;
  padding: 2rem 1rem;
  background-color: $background-2;
}

.sidebar {
  grid-area: sidebar;
  padding: 2rem 1rem;
  background-color: $background-2;
}

.footer {
  grid-area: footer;
  border-top: $borderWidth $borderColor solid;
}
