@import '../../../../../../styles/variables.scss';
.addTransactionFormWrapper {
  background-color: $background-2;
  
  .sectionBody {
    margin-top: 5rem;
    
    .row {
      display: flex;
      align-items: flex-start;
      margin-bottom: 2rem;
    
      .gap {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }

    .inputWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .label {
        font-size: 1.2rem;
        margin-bottom: .7rem;
        font-weight: bold;
      }

      .input {
        width: 100%;
        font-size: 1.2rem;
        padding: .7rem;
        border: none;
        border: 1px solid rgba($color: #000000, $alpha: .1);
        border-radius: .4rem;
        background-color: $background-3;
        color: $textLight;
      }
    }

    .footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 4rem;
    }
  }
}
